
<!-- views/add.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/api/v1/devcamp/citas/citas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <div class="login-info-container" >
            <h1 class="title">Autorizacion</h1>

<form action="/api/v1/devcamp/autoriciones" method="post">
  <label for="number">Numero:</label>
  <input class="input"style="height: 36px;" type="number" id="number" name="number" required>

  <label for="name">Descripcion:</label>
  <input class="input" style="height: 36px;" type="text" id="name" name="name" required>
  <label for="paciente">Paciente:</label>
  <select class="input"  id="paciente" name="paciente" required>
    <% if(pacientes!=null){ pacientes.forEach(paciente => { %>
    <option value="<%=paciente._id%>"><%=paciente.name%></option>
        <%})}%>
                    </select>

  <button  class="btn btn-primary" style="height: 43px; margin-top: 15px;" type="submit">Agregar autorizacion</button>
</form>


</div>
<img class="image-container" src="/api/v1/devcamp/citas/consulta.jpg" id="image" alt="">
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>
</body>

</html>