@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
    --login-bg: #c9ecfc;
    --title-bg: #000;
    --button-bg: #4b93af;
    --light-pink: #00000;
    --image-bg: #69d9ec;
}

body {
    height: 100vh;
    font-family:'sans-serif', 'Poppins' !important;
    background-image: #eee;
}

.login-container {
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    background-color: var(--login-bg);
    height: 533px;
    
}

.image-container {
    padding: 2rem;
    width: 37%;
    background-color: var(--image-bg);
    box-sizing: border-box;
    height: 533px;
    margin-right: 125px;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.social-login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 5px;
    border: 1px solid var(--button-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #0000;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input,
.btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
}

.input {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
}

.span {
    color: var(--light-pink);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    .image-container {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }
    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }
    .login-info-container>p {
        margin: 0;
    }
    #image {
        width: 100px;
    }
}

#menu{
    width: 11%;
    margin-top: -14px;
}

.bg-body-tertiary{
    width: 100%;
}

#menu2{
    height: 26px;
    background-color: #070e40 !important;
}

#textom{
color: white !important;
}

#crear{

    margin-top: 20px !important;
}